<nav class="navbar navbar-expand-lg bg-transparent fixed-top">
  <i class="fas fa-kiwi-bird navKiwi"></i
  ><a class="navbar-brand" href="#">Instances</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/dashboard/<%=username%>/<%=id%>"
        >Browse Events</a
      >
      <a class="nav-link" href="/create-events/<%=username%>/<%=id%>"
        >Create My Event</a
      >
      <a class="nav-link" href="#">Joined Events</a>
      <a class="nav-link" href="/profile/<%=username%>/<%=id%>">My Profile</a>
      <a class="nav-link navButton" type="submit" href="/logout">Log Out</a>
    </div>
  </div>
</nav>
